{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "prettier/react",
    "prettier/standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
}
